.carousel-inner {
  max-height: calc(100vh - 42vh);
  overflow: hidden;
}

.carousel-item {
  max-height: calc(100vh - 42vh);
  overflow-y: auto;
  padding: 1rem;
}

.carousel-item img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

a {
  text-decoration: none;
  color: black;
}

/* This scrollbar code was taken from https://www.w3schools.com/howto/howto_css_custom_scrollbar.asp, it was then changed to fit the visuals of the page */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px #b8bbc23e;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #878a8b86;
  border-radius: 10px;
}
